<section id="{{ id }}" class="complex-section articles">
    <div class="content">
        <div class="wrapper">
            <div class="spacer" style="height: 64px"></div>
            <div class="categories">
                <a
                    class="category"
                    href="?"
                >ОЧИСТИТЬ ФИЛЬТРЫ</a>
                <a
                    class="category {% if not self.filters.category %}active{% endif %}"
                    href="?{% for key, value in self.filters.items %}{% if key != 'category' %}&{{ key }}={{ value }}{%endif%}{% endfor %}"
                >ВСЕ КАТЕГОРИИ</a>
                {% for category in self.categories %}
                    <a
                        class="category {% if self.filters.category == category.id %}active{% endif %}"
                        href="?category={{ category.id }}{% for key, value in self.filters.items %}{% if key != 'category' %}&{{ key }}={{ value }}{%endif%}{% endfor %}"
                    >{{ category.name }}</a>
                {% endfor %}
            </div>
            <div class="spacer" style="height: 40px"></div>
            <section class="articles-list">
                {% for article in self.articles %}
                    {% include 'includes/cards/article.html' with article=article %}
                {% endfor %}
            </section>
            <div class="spacer" style="height: 64px"></div>
            {% include 'includes/pagination.html' with pages=self.pages current_page=self.current_page filters=self.filters %}
        </div>
    </div>
</section>